<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>KijkEmbed</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http(s)?:\/\/(www\.)?(embed\.)?kijk\.nl\/api\/video\/.+</string>
			</array>
		</dict>
		<key>BrightCove</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http(s)?:\/\/(www\.)?edge\.api\.brightcove\.com\/playback\/v1\/accounts\/[0-9]+\/videos\/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
